{% extends '@OwlCore/Email/layout.html.twig' %}

{% block subject %}
    {{ 'owl.email.password_reset.subject'|trans }}
{% endblock %}

{% block content %}
    {% set url = absolute_url(path('owl_admin_password_reset', { 'token': user.passwordResetToken})) %}
    <div style="text-align: center; margin-bottom: 30px;">
        <div style="font-size: 24px;">
            {{ 'owl.email.password_reset.hello'|trans }} <strong>{{ user.displayName|default(user.firstName ~ ' ' ~ user.lastName) }}</strong><br>
        </div>
        {{ 'owl.email.password_reset.to_reset_your_password'|trans }}:
    </div>

    <div style="text-align: center;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            {{ 'owl.email.password_reset.reset_your_password'|trans }}
        </a>
    </div>
{% endblock %}
