{% extends '@OwlCore/Email/layout.html.twig' %}

{% block subject %}
    {{ 'owl.email.registration_rejected.subject'|trans }}
{% endblock %}

{% block content %}
{% set url = absolute_url(path('owl_admin_login')) %}
    <div style="text-align: center; margin-bottom: 30px;">
        <div style="font-size: 24px;">
            {{ 'owl.email.registration_rejected.thank_you_for_your_patience'|trans }}<br>
        </div>
        {{ 'owl.email.registration_rejected.your_registration_to_email_address'|trans }} <strong>{{ user.email }}</strong> {{ 'owl.email.registration_rejected.in_system_has_unfortunately_been_rejected'|trans }}.
    </div>
    <div style="text-align: center; margin-bottom: 10px;">
        {{ 'owl.email.registration_rejected.reason_for_rejection'|trans }}<br>
    </div>
    <div style="text-align: center;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #DB2828; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            {{ user.registration.reasonRejection }}
        </a>
    </div>
{% endblock %}
